* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono NFM";
  font-size: 14px;
  padding: 0;
}

window#waybar {
  /* background: #171d37; */
  /* border-top: 1px solid #74B2DE; */
  background: rgba(0, 0, 0, 0);
}

#disk,
#scratchpad,
#user,
#window,
#mpris,
#temperature,
#memory,
#cpu,
#clock,
#pulseaudio,
#network,
#tray,
#battery {
  margin: 0px 2px 5px 2px;
  padding: 2px 5px;
  background: #171d37;
  color: #74B2DE;
  border: 2px solid #D7B9B5;
}

#disk,
#temperature,
#memory,
#cpu,
#pulseaudio {
  margin: 0 2px;
  padding: 0 4px;
  border: 0px;
}

#info {
  margin: 0px 2px 5px 2px;
  padding: 2px 0;
  background: #171d37;
  border: 2px solid #D7B9B5;
}

#workspaces {
  padding: 2px 0;
  margin: 0px 2px 5px 2px;
  background: #171d37;
  border: 2px solid #D7B9B5;
}

#workspaces button {
  all: initial;
  padding: 2px 4px 2px 4px;
  color: #74B2DE;
}

#workspaces button.urgent,
#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #171d37;
  padding: 2px 4px;
  color: #171d37;
}

#mpris {
  background: #74B2DE;
  color: #171d37;
}

#window {
  background: #171d37;
  border: 2px solid #D7B9B5;
  color: #74B2DE;
}