/* Colores fijos aplicados directamente */
* {
  border: 5;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono NFM";
  font-size: 18px;
  padding: 0;
}


window#waybar {
  /* Barra transparente */
  background: rgba(0, 0, 0, 0);
}

/* Módulos generales */
#disk,
#scratchpad,
#user,
#window,
#mpris,
#temperature,
#memory,
#cpu,
#clock,
#pulseaudio,
#network,
#tray,
#battery {
  margin: 0px 2px 5px 2px;
  padding: 2px 5px;
  background: #171d37;
  /* background */
  color: #74B2DE;
  /* color5 */
  border: 1px solid #73B2DE;
  border-radius: 5px;
}

/* Módulos específicos con menos padding */
#disk,
#temperature,
#memory,
#cpu,
#pulseaudio {
  margin: 0 2px;
  padding: 0 4px;
  border: 0px;
}

/* Info group */
#info {
  margin: 0px 2px 5px 2px;
  padding: 2px 0;
  background: #171d37;
  /* background */
  border: 1px solid #73B2DE;
  border-radius: 5px;
}

/* Workspaces */
#workspaces {
  margin: 0px 2px 5px 2px;
  background: #171d37;
  /* background */
  border: 1px solid #73B2DE;
  border-radius: 5px;
}

#workspaces button {
  all: initial;
  padding: 2px 4px 2px 4px;
  color: #73B2DE;
  border-radius: 4px;
}

#workspaces button.urgent,
#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #D7B9B5;
  /* color6 */
  padding: 2px 4px;
  color: #171d37;
  /* background */
  border-radius: 4px;
}

/* MPRIS */
#mpris {
  background: #73B2DE;
  color: #171d37;
  /* background */
  border-radius: 5px;
}

/* Ventana activa */
#window {
  background: #73B2DE;
  color: #171d37;
  /* background */
  border: 0px;
  border-radius: 5px;
}